{% extends "base.html" %}
{% block content %}
    <p>Question: {{ question }}</p>

    <form method="post">
      <div class="form-group">
        <p>
          <input type="radio" name="answer" value="yes" class="form-control"> Yes <br>
          <input type="radio" name="answer" value="no" class="form-control"> No <br>
        </p>

      </div>

      <input type="submit" name="name" value="Submit" class="btn btn-default">
    </form>

    <p>Click <a href="{{ url_for('index')}}">here</a> to main page</p>
{% endblock %}
